{% extends "base.html" %}

{% block app_content %}

<div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child box">
        <a class="button is-link" href="{{ url_for('UsersView:signup') }}" style="width: 100%;">Sign up as a school teacher</a>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child box">
          <a class="button is-link"  href="{# url_for('UsersView:signup', type='school-admin') #}" style="width: 100%;" disabled>Sign up as a school administrator</a>
      </div>
    </div>
</div>

{% endblock %}
